
<div class="container-fluid text-center blue-bg-color py-2  ">
    <div class="row">
      <div class="col-3">
      </div>
      <div class="col-6">
        <p class="text-white">Striker Hub</p>
        <P class="text-white">st.Primorskaya,27</P>
        <p class="text-white">*Pictures were taken from freepik.com and unsplash.com for educational purposes.</p>
        <p class="text-white">*&#169; 2023 created by Zhanna Vasylieva. All rights reserved.</p>
      </div >
      <div class="col-3">
        
      </div>
    </div>
  </div>
