<div  class="intro-img " style="background-image: url('assets/imgs/bg11.jpg')">
    <div class="row container">
        <div class="col-6 col-sm-8" >
        </div>
        <div class="col-6 col-sm-4 my-auto  " style="display: flex;flex-direction: column;align-items: center;">
            <h1 class="green-text-color">Sports Equipment and sports wear</h1>
            <p class="grey-text-color">here you will find high-quality sports product,here you will find high-quality sports
                product </p>
            <button type="button" class="btn btn-danger  " >Shop Now</button>
        </div>


    </div>
</div>